{% extends "base.html" %}

{% block titulo %} Detalles  {{ cancion.nombre }} {% endblock %}

{% block contenido_principal %}
<div class="row">
    <div class="media col-xs-10">
        <div class="media-left media-middle">
            <img class="media-object" src="/portadas/{{ cancion._id.toString() }}.png">
        </div>
        <div class="media-body">
            <h2>{{ cancion.nombre }}</h2>
            <p>{{ cancion.autor }}</p>
            <p>{{ cancion.genero }}</p>
            {% if isAutor == true %}
            <audio controls>
                <source src="/audios/{{ cancion._id.toString() }}.mp3" type="audio/mpeg">
            </audio>
            {% endif %}

            {% if isAutor == false  && isComprada == true %}
            <audio controls>
                <source src="/audios/{{ cancion._id.toString() }}.mp3" type="audio/mpeg">
            </audio>
            {% endif %}
            {% if isAutor == false && isComprada == false %}
            <a class="btn btn-primary pull-right"
               href="/cancion/comprar/{{cancion._id.toString()}}">{{ cancion.precio
                }} € - {{ cancion.usd }} $</a>
            {% endif %}

        </div>
    </div>
</div>


<div class="row mt-3">
    <div id="custom-search-input ">
        <form method="post" action="/comentarios/{{ cancion._id.toString() }}">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-left">
                <input type="text" class="search-query form-control" placeholder="Comentario" name="texto"/>
                <span class="input-group-btn">
                    <button class="btn" type="submit">
                        Añadir
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>


<h2>Comentarios</h2>
<div class="row" style="margin-top: 20px;">
    {% for comentario in comentarios %}
    <div class="media col-xs-10">
        <div class="media-body">
            <h4 class="media-heading"> Autor: {{ comentario.autor }}</h4>
            {{ comentario.texto }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}