{% extends "base.html" %}
{% block titulo %} Peticiones de amistad {% endblock %}
{% block contenido_principal %}

<h1>Lista de peticiones de amistad</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.name }}</td>
            <td>{{ usuario.surname }}</td>
            <td>
                <a href="/amigo/aceptar/{{ usuario.email.toString() }}">aceptar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{pagina}}">
            <a class="page-link" href="/amigo/peticiones/lista?pg={{pagina}}">{{pagina}}</a>
        </li>
        {% endfor %}
        <script>
            $("#pi-"+"{{actual}}").addClass("active");
        </script>
    </ul>
</div>

{% endblock %}
